@charset "utf-8";

body{
    background-image: linear-gradient(to right, pink, purple);
    color:purple;
    font-size: medium;
    font-family: Baskerville;
    text-align: center;

}

h1, h2
{
    text-decoration: underline none;
    color: black;
    text-align: center;

}

h1#principal,h2#principal{
   background-color: rgb(154, 73, 156);
}

a{
    text-decoration: none;
}

.par
{
    color: rgb(163, 33, 33);
    font-size: 20pt;
    font-family:Verdana;
}

.impar
{
    color: rgb(59, 59, 218);
    font-size: 16pt;
    font-family:Arial;
}