@charset "utf-8";

body{
    background-image: linear-gradient(to right, pink, purple);
    color:purple;
    font-size: medium;
    font-family: Baskerville;
    text-align: center;

}

h1, h2
{
    text-decoration: underline none;
    color: black;
    text-align: center;

}

a{
    text-decoration: none;
}

